venv/
#data/household_power_consumption.txt
#data/household_power_cleaned_minute.csv


# Ignore data contents but keep folder
/data/*

/results/*

# Ignore results contents but keep folder
/results/*
!/results/.gitkeep
